{% extends "base.html" %} {% block title %}FAQ{% endblock %} {% block content %}
<h3 align="center">FAQ</h3>
<body>
  <p class="big">
    <h6>Miksi voin syöttää laskuriin vain iän väliltä 18-70 vuotta?</h6>
    Kuntolaskurin käyttämien kuntotestien viitearvot on laadittu työikäisille. <br />
    Lapsille/nuorille ja ikääntyville on olemassa omat toimintakykyä mittaavat testit. <br />
    <br />
    <h6>Ikäni ei osu testin viitearvojen ikähaitariin, kuinka laskuri laskee kuntoluokkani?</h6>
    Mikäli ikäsi ei osu testin viitearvojen ikähaitariin, vertaa laskuri tulostasi ikääsi lähimpänä olevan ikäluokan viitearvoihin. <br />
    Esimerkiksi 70 vuotiaan tulosta yläraajojen nostotestissä verrataan vanhimpaan saatavilla olevan ikäluokan arvoihin, eli 51 - 55 vuotiaiden tuloksiin. <br />
    <br />
    <h6>Miksi valittavissa on vain sukupuolet "mies" ja "nainen"?</h6>
    Kuntoluokan laskemiseen käytettävät viitearvot ovat saatavilla vain miehille ja naisille.
  </p>
</body>
{% endblock %}