{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h3 align="center">Kuntolaskuri</h3>
<body>
  <p class="big">
    Tervetuloa kuntolaskuriin!<br />
    Laskurin avulla voit laskea kuntoluokkasi lihaskuntoa, tasapainoa ja liikkuvuutta mittaavissa
    testeissä.<br />
    Kuntoluokka lasketaan vertaamalla syöttämiäsi arvoja väestökohtaisiin viitearvoihin.<br />
    Voit tehdä sivustolle käyttäjätunnukset, mikä mahdollistaa kuntolaskurin käyttämien
    ennakkotietojen tallentamisen, sekä testitulosten tallentamisen historiaan.<br />
    Toimia tietokannan linkit testeihin:<br />
    <a href=https://www.terveysportti.fi/apps/dtk/tmi/article/tmm00056?toc=307488 target="_blank">Kyykistystesti</a>
    <br />
    <a href=https://www.terveysportti.fi/apps/dtk/tmi/article/tmm00058?toc=307483 target="_blank">Istumaannousutesti</a>
    <br />
    <a href=https://www.terveysportti.fi/apps/dtk/tmi/article/tmm00043?toc=307485 target="_blank">Yläraajojen dynaaminen nostotesti</a>
    <br />
    Alla latauslinkki Työterveyslaitoksen testeihin:
    <br />
    <a href=https://www.ttl.fi/file-download/download/public/949> Tasapainoa ja liikkuvuutta PDF</a>
  </p>
</body>
{% endblock %}