{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
<form method="POST">
  <h3 align="center">Kirjaudu sisään</h3>
  <div class="form-group">
    <label for="username">Käyttäjätunnus</label>
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      placeholder="Syötä käyttäjätunnus"
    />
  </div>
  <div class="form-group">
    <label for="password">Salasana</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Syötä salasana"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}