<form method="POST">
  <h3 align="center">Luo käyttäjä</h3>
  <div class="form-group">
    <label for="username">Käyttäjätunnus</label>
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      placeholder="Syötä käyttäjätunnus"
    />
  </div>
  <div class="form-group">
    <label for="password1">Salasana</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Syötä salasana"
    />
  </div>
  <div class="form-group">
    <label for="password2">Salasana (vahvistus)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Vahvista salasana"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
