{% extends "base.html" %} {% block title %}Testisivu{% endblock %} {% block content %}
<form method="POST">
    <h3 align="center">Laske kuntoluokka</h3>
    <div class="form-group">
        <label for="age">Ikä</label>
        <input
          type="age"
          class="form-control"
          id="age"
          name="age"
          placeholder="Ikä välillä 18-70"
        />
      </div>
      <div class="form-group">
        <label for="sex">Sukupuoli</label>
        <input
          type="sex"
          class="form-control"
          id="sex"
          name="sex"
          placeholder="mies/nainen"
        />
      </div>
      <div class="form-group">
        <label for="kyykistystesti">Kyykistystesti</label>
        <input
          type="kyykistystesti"
          class="form-control"
          id="kyykistystesti"
          name="kyykistystesti"
          placeholder="Kyykistystestin toistomäärä 30 s"
        />
      </div>
      <div class="form-group">
        <label for="istumaannousutesti">Istumaannousutesti</label>
        <input
          type="istumaannousutesti"
          class="form-control"
          id="istumaannousutesti"
          name="istumaannousutesti"
          placeholder="Istumaannousutestin toistomäärä 30 s"
        />
      </div>
      <div class="form-group">
        <label for="nostotesti_oikea">Yläraajojen dynaaminen nostotesti (oikea)</label>
        <input
          type="nostotesti_oikea"
          class="form-control"
          id="nostotesti_oikea"
          name="nostotesti_oikea"
          placeholder="Yläraajojen nostotestin toistomäärä oikea käsi"
        />
      </div>
      <div class="form-group">
        <label for="nostotesti_vasen">Yläraajojen dynaaminen nostotesti (vasen)</label>
        <input
          type="nostotesti_vasen"
          class="form-control"
          id="nostotesti_vasen"
          name="nostotesti_vasen"
          placeholder="Yläraajojen nostotestin toistomäärä vasen käsi"
          />
        </div>
        <div class="form-group">
          <label for="tasapainotesti">Yhden jalan seisonta</label>
          <input
            type="tasapainotesti"
            class="form-control"
            id="tasapainotesti"
            name="tasapainotesti"
            placeholder="Yhden jalan seisonta aika 0-60 s (parempi jalka)"
        />
        </div>
          <div class="form-group">
          <label for="nhs_liikkuvuus_testi">Hartiaseudun liikkuvuus</label>
          <input
            type="nhs_liikkuvuus_testi"
            class="form-control"
            id="nhs_liikkuvuus_testi"
            name="nhs_liikkuvuus_testi"
            placeholder="Hartiaseudun liikkuvuus testin yhteenlasketut pisteet"
        />
        </div>
      <br />
      <button type="submit" class="btn btn-primary">Hyväksy</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endblock %}